.right {
    position: absolute;
    right: 50px;
    padding: 10px;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    text-decoration: underline;

}
.rightunder{
    position: absolute;
    right: 50px;
    padding: 30px;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    text-decoration: underline;
}

.login {

	border-style: solid;
	border-width: 4px;
	border-color: rgb(77,77,77);
}

.title {

    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: rgb(77,77,77);
    letter-spacing: 3px;
    border-bottom: solid;
    border-bottom-width: 1.5px;
}
.main-text{
    font-family: 'EB Garamond', serif;
	font-size:18px;
	line-height: 150%;
	letter-spacing: 1px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.main-text p {
	margin-top: 15px;
}

.top-buffer { margin-top:80px; }
.top-mini { margin-top:40px; }
.top-maxi {margin-top: 50px;}


.yolo {
	background-color: rgb(77,77,77);
	border-color: rgb(77,77,77);
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    color: white;
    letter-spacing: 3px;
    padding-top: 4px;
    min-height: 20px;
    height: 35px;


}
.message-them {
padding: 10px 10px 10px 10px;
}

.message-me {
padding: 10px 10px 10px 10px;
background-color: rgb(245,245,245);
}

/*
.btn {
	border-radius: 0;
	background-color: white;
	box-shadow: none;
	border-width: 2px;
	border-color: rgb(77,77,77);
	border-style: solid;
	opacity: 1;
	transition: background-color 0.5s ease;
	

}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn:hover {
	background: rgb(77,77,77);
}

i{
	transition: color 0.5s ease;
}

.btn:hover i {

	color:white;
}

.btn.circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
}*/