<div class="row">
  <div class="right" ng-hide="loggedin"> login </div>
  <div class="right" ng-show="loggedin"> <p>logout</p></div>
</div>

<div class="container">
  <div class="row top-buffer">
    <div class="col-md-4 col-md-offset-4 title text-center">STUDYBUDDY.</div>
  </div>
</div>
HVA FAEEEEN
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center main-text">Visste du at læringsutbyttet ditt kan øke betraktelig når du lærer sammen med andre?
   Studybuddy skal gjøre det <strong>enklere </strong> for studenter å <strong>finne samarbeidspartnere</strong> til skolerelaterte øvinger/oppgaver, prosjekter og<strong> eksamenslesing</strong>. <p>Hensikten med tjenesten er å <strong>effektivisere</strong> prosessen med å finne noen å jobbe sammen med og enklere kunne jobbe med flere. </p><p>Håper dette kan komme til nytte for deg. <u>les mer HALLA </u></p>
</div>
</div>

<div class="row">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 lead text-center">
      <p style="font-family: 'Marck Script', cursive;font-weight:bold;font-size:30px;" ng-hide="loggedin">Log in</p>
      <p ng-show='loggedin'>link til hjemmesiden</p>   

    </div>
  </div>

  <div class="row" ng-hide="loggedin">
    <div class="col-md-2 col-md-offset-4 text-center">
    <button class="btn btn-block "  ng-click='facelogin()'>
      <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
    </button>
    </div>
    <div class="col-md-2 text-center">
    <button class="btn btn-block  ">
      <i class="fa fa-google-plus fa-2x" aria-hidden="true" ></i>
    </button>
  </div>
  </div>
</div>