

  <div class="col-md-2 " style="background-color:blue;">
  <!-- droppdown emner-->
    <div class="row" >
      <div class="btn-group btn-block ">
        <button type="button" class="btn btn-default btn-block btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Fagemner <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="width: 100%;">
          <li><a href="#">TTM4133</a></li>
          <li><a href="#">TDT2020</a></li>
          <li><a href="#">TTM4220</a></li>
          <li><a href="#">TDT4190</a></li>
        </ul>
      </div>
    </div>

   <!-- SPACE-->
   <div class="row top-mini"></div>

  <!-- liste med venner-->
    <div class="row">
      <div class="list-group">
        <button type="button" class="list-group-item"><span class="badge">14</span>Pablo</button>
        <button type="button" class="list-group-item">Flo</button>
        <button type="button" class="list-group-item">Jarle</button>
        <button type="button" class="list-group-item">Marie</button>
        <button type="button" class="list-group-item">Janet</button>
      </div>  
    </div>

  </div>
  <div class="col-md-8" ui-view></div>

  <div class="col-md-2" style="background-color:grey;">
    <h1>My profile</h1>
    <p>{{name}}</p>
    <p>Mann</p>
    <h4>Mine Emner</h4>
    <ul>
      <li>TTM4133</li>
      <li>TDT4222</li>
    </ul>
  </div>

  
<!--
    <div class="list-group">
      <li class="list-group-item-heading">Pablo</li>
      <span class="list-group-item clearfix">
        <span><img src="../img/profile.png" width="42" height="42"></span>
        <span class="rounded-borders">
            Hei, skjer?   
        </span>
        <span class="rounded-borders">
            Hei, skjer?   
        </span>

      </span>
      <li class="list-group-item">Third item</li>
    </div>-->

 


